body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}
.input{
    padding: 6px 0 6px 5px;
    margin-left: 15px;
}
.natija_box{
    display: flex;
    align-items: center;
}
.selsiyda{
    margin-right: 15px;
}